@model DoctorTrain.Model.Dto.AppointmentDto

@{
    ViewData["Title"] = "Appointment Details";
    // Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-primary mb-4">Appointment Details</h2>

<div class="card shadow p-4 mb-5 bg-white rounded">
    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Id):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.PatientName):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.PatientName)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Mobile):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Mobile)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.DoctorName):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.DoctorName)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.HospitalName):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.HospitalName)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Date):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Time):
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Time)
        </div>
    </div>
</div>

<div class="mt-3">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning mr-2" })
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
